
.plan/websockets-realtime-dashboard.md

.vs/ProjectEvaluation/

.vs/Invensa/v18/

.vs/Invensa/config/

.vs/Invensa/v17/

.vs/Invensa/FileContentIndex/

.vs/Invensa/DesignTimeBuild/

.vs/Invensa/CopilotIndices/18.0.988.22099/

.vs/Invensa/copilot-chat/dc209db8/sessions/
